<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionRepository" class="ru.otus.hw1.repository.QuestionRepositoryCsv">
        <constructor-arg index="0" value="questions.csv"/>
        <constructor-arg index="1" value=";"/>
    </bean>

    <bean id="feedbackService" class="ru.otus.hw1.service.FeedbackServiceSimple">
        <constructor-arg index="0" ref="questionRepository"/>
    </bean>
</beans>
