<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>
    <style>
        .btn-link {
            border: none;
            outline: none;
            background: none;
            cursor: pointer;
            color: #0000EE;
            padding: 0;
            text-decoration: underline;
            font-family: inherit;
            font-size: inherit;
        }
    </style>
</head>
<body>
<div th:insert="~{fragments/header::header}"></div>

<h3>Books</h3>
<table class="books">
    <thead>
    <tr>
        <th>№</th>
        <th>Name</th>
        <th>Release year</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book: ${books}">
        <td th:text="${bookStat.index + 1}">Number</td>
        <td><a th:href="@{/book/{id}(id=${book.id})}" th:text="${book.name}">Book Name</a></td>
        <td th:text="${book.releaseYear}">Book release year</td>
        <td th:text="${book.author.name}">Book Author Name</td>
        <td th:text="${book.genre.name}">Book Genre name</td>
        <td>
            <a href="edit.html" th:href="@{/book/edit(id=${book.id})}">Edit</a>
            <form th:action="@{/book/delete(id=${book.id})}" th:method="post">
                <input type="submit" value="Remove" class="btn-link"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
