<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add book</title>
</head>
<body>
<div th:insert="header"></div>

<form action="new.html" id="add-form" th:action="@{/book(create)}" th:method="post" th:object="${book}">
    <h3>Add book information</h3>

    <div class="row">
        <label for="name-input">Name:</label>
        <input id="name-input" name="name" th:value="*{name}" type="text"/>
        <div class="errors" th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Wrong name</div>
    </div>

    <div class="row">
        <label for="year-input">Year:</label>
        <input id="year-input" name="releaseYear" th:value="*{releaseYear}" type="text"/>
        <div class="errors" th:errors="*{releaseYear}" th:if="${#fields.hasErrors('releaseYear')}">Wrong release year
        </div>
    </div>

    <div class="row">
        <label for="genre-select">Genre:</label>
        <select id="genre-select" name="genreId" th:value="*{releaseYear}">
            <option th:each="genre : ${genres}" th:text="${genre.name}" th:value="${genre.id}"/>
        </select>
        <div class="errors" th:errors="*{genreId}" th:if="${#fields.hasErrors('genreId')}">Wrong genre</div>
    </div>

    <div class="row">
        <label for="author-select">Author:</label>
        <select id="author-select" name="authorId" th:value="*{releaseYear}">
            <option th:each="author : ${authors}" th:text="${author.name}" th:value="${author.id}"/>
        </select>
        <div class="errors" th:errors="*{authorId}" th:if="${#fields.hasErrors('authorId')}">Wrong author</div>
    </div>

    <div class="row">
        <button type="submit">Save</button>
        <a href="list.html" th:href="@{/book}">
            <button type="button">Cancel</button>
        </a>
    </div>

</form>
</body>
</html>