<header th:fragment="header">
    <style>
        .header {
            background: #000000;
            padding: 20px;
        }

        .menu-item {
            color: #86da01;
            text-decoration-line: none;
            text-align: center;
            font-weight: bold;
            margin: 0 20px;
        }

        .menu-item:hover {
            color: #d0fc99;
        }
    </style>
    <div th:fragment="header" class="header">
        <a class="menu-item" th:href="@{/book}">List of books</a>
        <a class="menu-item" th:href="@{/book/new}">New</a>
    </div>
</header>